/* TOPBAR */
.topbar {
  background-color: black;
  padding: 15px 0;
  text-align: center;
}

/* LOGO */
.logo {
  margin: 0 0 10px 0;
}

/* NAV */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;   /* CENTRER MENU */
  gap: 40px;
  margin: 0;
  padding: 0;
}

/* LINKS + BUTTON */
.nav-links a,
.dropbtn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

/* HIDDEN MENU */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  background-color: black;
  list-style: none;
  padding: 10px;
  margin: 0;
  min-width: 140px;
}

/* LINKS I DROPDOWN */
.dropdown-menu li {
  padding: 5px 10px;
}

.dropdown-menu a {
  color: white;
}